{
  "presets":[
    ["es2015", {"modules": false}],
    "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    "transform-class-properties",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    ["import-inspector", {
      "serverSideRequirePath": true,
      "webpackRequireWeakId": true
    }]
  ]
}