<!--views/components/article_preview 文章预览-->

<a class = 'dg-article-preview' href="/articles/<%=article._id%>">
    <span class= 'article-title'><%=article.art_title%></span>
    <span class = 'article-ctime'><%=article.art_createTime.toLocaleString()%></span>
</a>