<!--后台管理-->

<%include components/header.ejs%>
<%include components/nav.ejs%>
    <div class = 'dg-admin-add-button'>
        <a class = 'add-button' href = '/admin/article/add'>
            新建
        </a>
    </div>
    <div class = 'dg-article-preview-container'>
        <% articles.forEach(function(el){ %>
        <% var article = el;%>
        <%- include components/article_preview_admin.ejs%>
        <%});%>
    </div>


<%include components/footer.ejs%>